*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
overflow:hidden;
}

/* Center Card */

.container{
width:90%;
max-width:700px;
background:rgba(0,0,0,0.6);
padding:40px;
border-radius:18px;
text-align:center;
}

/* Input */

.input-box{
display:flex;
justify-content:center;
gap:10px;
flex-wrap:wrap;
margin-top:15px;
}

input{
padding:12px;
font-size:18px;
border:none;
border-radius:8px;
width:220px;
}

button{
padding:12px 22px;
font-size:18px;
border:none;
border-radius:8px;
background:#ff4081;
color:white;
cursor:pointer;
}

/* Message */

#message{
margin-top:25px;
font-size:28px;
min-height:40px;
}

/* Cake */

.cake{
position:relative;
margin:40px auto 0;
width:140px;
display:none;
animation:bounce 1.5s infinite alternate;
}

@keyframes bounce{
from{transform:translateY(0);}
to{transform:translateY(-12px);}
}

.plate{
width:160px;
height:12px;
background:#ddd;
border-radius:50%;
position:absolute;
bottom:-10px;
left:-10px;
}

.layer{
width:140px;
height:60px;
background:#ff9aa2;
border-radius:12px;
}

.icing{
width:140px;
height:20px;
background:white;
border-radius:10px;
margin-top:-10px;
}

.candle{
width:10px;
height:35px;
background:#ffd166;
margin:auto;
position:relative;
top:-75px;
}

.flame{
width:14px;
height:14px;
background:orange;
border-radius:50%;
position:absolute;
top:-14px;
left:-2px;
animation:flicker .3s infinite alternate;
}

@keyframes flicker{
from{transform:scale(1);}
to{transform:scale(1.4);}
}

/* Hearts */

@keyframes floatUp{
0%{transform:translateY(0);opacity:1;}
100%{transform:translateY(-120vh);opacity:0;}
}

/* Flowers */

@keyframes fall{
0%{transform:translateY(-10vh) rotate(0);}
100%{transform:translateY(110vh) rotate(360deg);}
}

/* Fireworks */

@keyframes explode{
0%{
transform:scale(1);
opacity:1;
box-shadow:0 0 5px white,0 0 10px pink;
}
100%{
transform:scale(18);
opacity:0;
box-shadow:0 0 40px white,0 0 80px pink;
}
}